In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()
data = [("Ranjana", 16), ("Priya", 18), ("Dharshini", 21)]
df = spark.createDataFrame (data, ["Name", "Age"])
df.show()
spark.stop()

+---------+---+
|     Name|Age|
+---------+---+
|  Ranjana| 16|
|    Priya| 18|
|Dharshini| 21|
+---------+---+

In [0]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("StudentAssignment").getOrCreate() 
# Sample employee data 
data = [ 
(1, "Alice", "Engineering", 65000), 
(2, "Bob", "Marketing", 58000), 
(3, "Charlie", "Sales", 52000), 
(4, "David", "Engineering", 72000), 
(5, "Eve", "Sales", 54000) 
] 
schema = ["ID", "Name", "Department", "Salary"] 
df = spark.createDataFrame(data, schema=schema) 
df.show() 
#Show schema 
df.printSchema() 
# Filter: Salary > 60000 
df.filter(df["Salary"] > 60000).show() 
# Group by Department 
df.groupBy("Department").count().show() 
# Average Salary by Department 
df.groupBy("Department").avg("Salary").show()

+---+-------+-----------+------+
| ID|   Name| Department|Salary|
+---+-------+-----------+------+
|  1|  Alice|Engineering| 65000|
|  2|    Bob|  Marketing| 58000|
|  3|Charlie|      Sales| 52000|
|  4|  David|Engineering| 72000|
|  5|    Eve|      Sales| 54000|
+---+-------+-----------+------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+-----+-----------+------+
| ID| Name| Department|Salary|
+---+-----+-----------+------+
|  1|Alice|Engineering| 65000|
|  4|David|Engineering| 72000|
+---+-----+-----------+------+

+-----------+-----+
| Department|count|
+-----------+-----+
|Engineering|    2|
|  Marketing|    1|
|      Sales|    2|
+-----------+-----+

+-----------+-----------+
| Department|avg(Salary)|
+-----------+-----------+
|Engineering|    68500.0|
|  Marketing|    58000.0|
|      Sales|    53000.0|
+-----------+-----------+

In [0]:

from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate() 
df = spark.read.csv("/Volumes/sample/default/emp_volume/employees1 (1).csv") 
df.show() 
df.printSchema()

+-----------+----------+---------+--------+------------+---------+----------+------+
|        _c0|       _c1|      _c2|     _c3|         _c4|      _c5|       _c6|   _c7|
+-----------+----------+---------+--------+------------+---------+----------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-Jun-02|    HR_REP|  6500|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|    AC_MGR| 12008|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-Jun-02|AC_ACCOUNT|  8300|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|
+-----------+----------+---------+--------+------------+---------+----------+------+
only showing top 20 rows
root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)