In [0]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("EmployeeDataAnalysis").getOrCreate() 
df = spark.read.option("header", True).option("inferSchema", 
True).csv("/Volumes/sample/default/emp_volume/employees1 (1).csv") 
df.show()
df.printSchema() 
df.groupBy("JOB_ID").avg("SALARY").show()
df = df.withColumn("Bonus", df.SALARY * 0.10) 
df.show()
df.filter(df.SALARY > 70000).show() 
df.groupBy("JOB_ID").avg("SALARY").display()

+-----------+----------+---------+--------+------------+---------+----------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|
+-----------+----------+---------+--------+------------+---------+----------+------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-Jun-02|    HR_REP|  6500|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|    AC_MGR| 12008|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-Jun-02|AC_ACCOUNT|  8300|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|
+-----------+----------+---------+--------+------------+---------+----------+------+
only showing top 20 rows
root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)

+----------+-----------+
|    JOB_ID|avg(SALARY)|
+----------+-----------+
|  PU_CLERK|     2780.0|
|    PU_MAN|    11000.0|
|     AD_VP|    17000.0|
|    AC_MGR|    12008.0|
|   AD_PRES|    24000.0|
|    ST_MAN|     7280.0|
|   IT_PROG|     5760.0|
|    HR_REP|     6500.0|
|FI_ACCOUNT|     7920.0|
|   AD_ASST|     4400.0|
|    PR_REP|    10000.0|
|    MK_REP|     6000.0|
|AC_ACCOUNT|     8300.0|
|    FI_MGR|    12008.0|
|    MK_MAN|    13000.0|
|  ST_CLERK|     2750.0|
|  SH_CLERK|     2600.0|
+----------+-----------+

+-----------+----------+---------+--------+------------+---------+----------+------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY| Bonus|
+-----------+----------+---------+--------+------------+---------+----------+------+------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600| 260.0|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600| 260.0|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400| 440.0|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|1300.0|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000| 600.0|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-Jun-02|    HR_REP|  6500| 650.0|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|1000.0|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|    AC_MGR| 12008|1200.8|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-Jun-02|AC_ACCOUNT|  8300| 830.0|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|2400.0|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|1700.0|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|1700.0|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000| 900.0|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000| 600.0|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800| 480.0|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800| 480.0|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200| 420.0|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|1200.8|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000| 900.0|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200| 820.0|
+-----------+----------+---------+--------+------------+---------+----------+------+------+
only showing top 20 rows
+-----------+----------+---------+-----+------------+---------+------+------+-----+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|Bonus|
+-----------+----------+---------+-----+------------+---------+------+------+-----+
+-----------+----------+---------+-----+------------+---------+------+------+-----+

JOB_ID,avg(SALARY)
PU_CLERK,2780.0
PU_MAN,11000.0
AD_VP,17000.0
AC_MGR,12008.0
AD_PRES,24000.0
ST_MAN,7280.0
IT_PROG,5760.0
HR_REP,6500.0
FI_ACCOUNT,7920.0
AD_ASST,4400.0
PR_REP,10000.0
MK_REP,6000.0
AC_ACCOUNT,8300.0
FI_MGR,12008.0
MK_MAN,13000.0
ST_CLERK,2750.0
SH_CLERK,2600.0