In [4]:
import pandas as pd

In [5]:
data = pd.read_csv(r"C:\Users\muthu\Downloads\taxi.csv")
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [8]:
x = data.drop('Numberofweeklyriders', axis = 1)
y = data['Numberofweeklyriders']

In [9]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [14]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
print('Training score', model.score(X_train, y_train))

Training score 0.9285840543940118

In [28]:
from sklearn.linear_model import LinearRegression

# Define and train your model
model = LinearRegression()
model.fit(X_train, y_train)  # Replace with your actual training data

# Save the trained model
import pickle
pickle.dump(model, open('taxi_model.pkl', 'wb'))

In [30]:
model1=pickle.load(open('taxi_model.pkl','rb'))
print(model1.predict([[9, 1, 5, 3], [33, 0, 2, 6]]))  # Example with 4 features

[ 8768.78454001 -2672.02118344]

C:\Users\muthu\anaconda3\envs\etl_env\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [31]:
taxi_model

NameError: name 'taxi_model' is not defined